body {
    background-color: #FFEBEC;
    font-family: 'Lexend Exa', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: #FFEBEC;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo-container img {
    border-radius: 132px;
    width: 100%;
    height: 70px;
    margin-left: 15px;
}

.header-text {
    margin-left: 30px;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
}

.title {
    font-weight: bold;
    color: #F3A5AA;
    font-size: 36px;
}

.nav {
    margin-top: 10px;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: #242424;
    margin-right: 10px;
    background-color: #f3a5aa9e;
    border-radius: 9px;
    padding: 5px 10px;
}

.nav a:hover {
    background-color: white;
}

.footer {
    background-color: #f3a5aa56;
    color: #242424;
    text-align: center;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
}

.main-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    margin: 120px auto;
    width: 1310px;
    height: 450px;
    border-radius: 9px;
    font-size: 28px;
    padding: 20px;
}

.flex-container {
    display: flex;
}

.left-container {
    background-color: #FFEBEC;
    width: 850px;
    height: 275px;
    font-weight: 500;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 9px;
    margin-right: 20px;
}

.right-container {
    background-color: #FFEBEC;
    max-width: auto;
    height: 275px;
    border-radius: 9px;
    padding: 10px;
    align-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

.right-container img {
    max-width: 100%;
    height: 100%;
    display: block;
}

.info-row {
    display: flex;
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: center;

}

.info-title {
    width: 30%;
    background-color: #f3a5aa91;
    padding: 5px;
    border-radius: 5px;
    margin-right: 10px;
}

.info-value {
    width: 70%;
    background-color: #FFFFFF;
    padding: 5px;
    border-radius: 5px;
}

.link-container {
    text-align: center;
}

.link-container a {
    text-decoration: none; 
    color: #F3A5AA;
}

