/* header start */
body {
    background-color: #FFEBEC;
    font-family: 'Lexend Exa', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: #FFEBEC;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.logo-container {
    display: flex;
}

.logo-container img {
    border-radius: 132px;
    width: 100%;
    height: 70px;
    margin-left: 15px;
}

.header-text {
    margin-left: 30px;
    margin-right: auto;
    text-align: center;
    font-weight: bold;
    font-family: 'Lexend Exa', sans-serif;
}

.title {
    font-family: 'Lexend Exa', sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.nav {
    margin-top: 10px;
    text-align: center;
}

.nav a {
    text-decoration: none;
    color: #242424;
    margin-right: 10px;
    background-color: #f3a5aa9e;
    border-radius: 9px;
    padding: 5px 10px;
}

.nav a:hover {
    background-color: white
}

/* header end */

/* footer */
.footer {
    background-color: #f3a5aa56;
    color: #242424;
    text-align: center;
    padding: 10px;
    bottom: 0;
    left: 0;
    right: 0;
}
/* footer end */

.main-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 120px auto; 
    width: 1310px;
    height: 700px;
    border-radius: 9px;
    font-size: 20px;
    padding: 20px;
}

.home-container {
    margin-left: 20px;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #ccc;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.series-button {
    text-decoration: none;
    text-align: center;
    color: #242424;
    background-color: #f3a5aa53;
    border-radius: 5px;
    padding: 10px;
    width: 340px; /* Adjust button width as needed */
    transition: background-color 0.3s;
}

.series-button img {
    max-width: 100%;
    height: 300px;
    width: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.series-button:hover {
    background-color: white;
}
